.vagrant
data/www/composer.json
data/www/composer.lock
data/www/installer.phar
data/www/vendor
.idea

.DS_Store

.project

*.swp
*dead.letter

*.sublime-project

*.sublime-workspace

*.pyc

.sass-cache

**/stage_file_proxy
*dump2.sql
*dump.sql

*id_rsa

*id_rsa.pub

drush.dbdumps



data/www/project/*
